@import "./fonts", "./variables";

html,
body {
  padding: 0;
  margin: 0;
  size: 1rem;
}

div {
  // border: 1px solid red;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  // box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.canvas_wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: -10;
  background-color: rgba(0, 0, 0, 0.975);
}

.container {
  /* border: solid red; */
  height: 100vh;
  display: flex;
  /* align-content: center; */
  justify-content: center;
  justify-self: center;
  flex-wrap: wrap;
  padding: 0 5vw;
  width: 80vw;
}

.container_inner {
  // padding: 3rem 10vw;
  // margin: 15rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
  height: 90%;
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;
}
.container_inner {
  // padding: 3rem 10vw;
  // margin: 15rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //   height: 90%;
}

.container_description {
  padding: 0 10%;
  margin: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //   background-color: rgba(255, 255, 255, 0.3);
  color: rgb(210, 210, 228);
  text-align: center;
  font-size: large;
}

#leva__root {
  display: none;
}

.container_subtitle {
  //   padding: 0 10%;
  margin: -2.5% 10% -2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //   background-color: rgba(255, 255, 255, 0.3);
  color: rgb(210, 210, 228);
  text-align: center;
  font-size: large;
}

.flex_start {
  align-self: flex-start;
}

.two_col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
}

.svg_animations {
  fill: none;
  stroke: white;
}

.svg_animations > svg > path,
.svg_animations > svg > rect,
.svg_animations > svg > polygon,
.svg_animations > rect > rect,
.svg_animations > rect > rect > path,
.svg_animations > rect > rect > path > path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash_green 3s linear forwards;
  animation-delay: 3s;
  fill: "none";
  stroke-width: 1px;
  filter: drop-shadow(2px 2px 3px rgba(255, 255, 255, 0.547));
}

@keyframes dash_green {
  0% {
    stroke-width: 0px;
  }
  85% {
    stroke-dashoffset: 0;
    fill: #17382d00;
    stroke-width: 1px;
    opacity: 1;
  }
  100% {
    fill: rgb(210, 210, 228, 0.8);
    stroke-dashoffset: 0;
    stroke-width: 1px;
  }
}

@-webkit-keyframes dash_green {
  0% {
    stroke-width: 0px;
  }
  85% {
    stroke-dashoffset: 0;
    fill: #17382d00;
    stroke-width: 15px;
    opacity: 1;
  }
  100% {
    fill: white;
    stroke-dashoffset: 0;
    stroke-width: 1px;
  }
}

@-moz-keyframes dash_green {
  0% {
    stroke-width: 0px;
  }
  85% {
    stroke-dashoffset: 0;
    fill: #17382d00;
    stroke-width: 15px;
    opacity: 1;
  }
  100% {
    fill: white;
    stroke-dashoffset: 0;
    stroke-width: 1px;
  }
}
